* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Arial, sans-serif;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.container a {
	display: block;
	margin: 10px;
	text-align: center;
}

.container img {
	max-width: 100%;
	height: auto;
}



